/*----------------------------------------------------------------------------*\

	#Imports

\*----------------------------------------------------------------------------*/

@import "vendor/susy";
@import "vendor/fonts/titillium/titillium";
@import "styles/sass/config";
@import "styles/sass/extends/extends";
@import "styles/sass/functions/mixins";
@import "styles/sass/libs/normalize";


/*----------------------------------------------------------------------------*\

	#Base Styles

\*----------------------------------------------------------------------------*/

.marketing-page {
	@include box-sizing(border-box);
	max-width: 100%;
	font-family: 'Titillium Web', Helvetica, Arial, $base-font-family;
	margin-top: 3em;
	@extend %cf;
}

html {
	font-size: 100%;
	font-family: $base-font-family;
	line-height: 1.5;
	font-weight: 400;
	color: $base-font-color;
	/**
	 * Normalize
	 */
	 -ms-text-size-adjust: 100%;
	 -webkit-text-size-adjust: 100%;
	 min-height: 100%;
}

body {
	margin: 0;
}

/*----------------------------------------------------------------------------*\

	#Rows

\*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*\

	#Columns
	The column sizes established below are Mobile First. Add a Media Query
	for Desktop specific columns.

\*----------------------------------------------------------------------------*/

.col-1 {
	@include span(1 of 12);
}

.col-2 {
	@include span(2 of 12);
}

.col-3 {
	@include span(3 of 12);
}

.col-4 {
	@include span(4 of 12);
}

.col-5 {
	@include span(5 of 12);
}

.col-6 {
	@include span(6 of 12);
}

.col-7 {
	@include span(7 of 12);
}

.col-8 {
	@include span(8 of 12);
}

.col-9 {
	@include span(9 of 12);
}

.col-10 {
	@include span(10 of 12);
}

.col-11 {
	@include span(11 of 12);
}

.col-12 {
	@include span(12 of 12);
}

%first,
.first {
	@include first();
}

%last,
.last {
	@include last();
}

%top,
.top {
	margin-top: 0;
}

%bottom,
.bottom {
	margin-bottom: 0;
}

.opacity {
	background: #333;
	@include opacity(.8);
}

/*----------------------------------------------------------------------------*\

	#List Styles

\*----------------------------------------------------------------------------*/

%no-bullets {
	list-style-type: none;
}

/*----------------------------------------------------------------------------*\

	#Container

\*----------------------------------------------------------------------------*/

.section-wrap {
	max-width: $global-max-width;
	@extend %pos_relative;
	@extend %cf;
}


/**
 * Base Containers can be used to wrap groups of elements.
 */

.base-container {
	@extend %pos_relative;
	@extend %cf;
}


/*----------------------------------------------------------------------------*\

	#Automation Styles

\*----------------------------------------------------------------------------*/

.global-container {
	margin: auto;
	max-width: 980px;
	@extend %pos_relative;
	@extend %cf;
}

.row {
	@extend %pos_relative;
	@extend %cf;

	&.tall {
		margin: 2em 0;
	}

	&.medium {
		margin: 1.5em 0;
	}

	&.small {
		margin: .625em 0;
	}

	&.base {
		margin: 1em 0;
	}
}


/*----------------------------------------------------------------------------*\

	#Media

\*----------------------------------------------------------------------------*/

/**
 * Hero images need to have a max-width of 100% to keep them within container
 */

.content-img > img,
.hero-img > img {
	max-width: 100%;
}

/*----------------------------------------------------------------------------*\

	#Content-Containers

\*----------------------------------------------------------------------------*/

.content-container {
	margin: auto;
	max-width: 98%;
	@extend %cf;
	@extend %pos_relative;
}


/**
 * Content Headers are used within container containers
 */

.content-header {
	@include font-size(17px);
	color: $lincoln-red;
	font-weight: bold;
	text-transform: capitalize;

	&.small {
		@include font-size(15px);
	}


}

/**
 * the .content class is used to wrap your text within a content-container
 */
.content,
.content-header {
	margin: 0;
	padding: 0;
	@extend %cf;
}

.content > p {
	margin-top: .625em;
}

.content-img {
	margin: 2em 0;
	height: 150px;
	overflow: hidden;
	@extend %cf;
}


.content-group {
	background: #ddd;
	border-top: thin solid $lincoln-red;
}


/*----------------------------------------------------------------------------*\

	#Marketing-Page

\*----------------------------------------------------------------------------*/

[id="marketing"] {
	font-family: Helvetica, Arial, sans-serif;
	@include font-size(14px);
}

.content {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


%button {
	border: thin solid #111;
	outline: none;
}



/*----------------------------------------------------------------------------*\

	#Decorate

\*----------------------------------------------------------------------------*/

.visual-break {
	width: 98%;
	margin: auto;
	@extend %pos_relative;
	background: #eee;
	padding: .3125em 0;
}

.visual-space {
	margin-top: 2em;
}


/*----------------------------------------------------------------------------*\

	#Layout Extends

\*----------------------------------------------------------------------------*/


.content-list {
	list-style-type: none;
	padding-left: 0;
	@extend %cf;
}

.visual-bg {
	background: #ddd;
	@extend %pos_relative;
	padding: .3125em;
}

.media-container {
	@extend %pos_relative;
	display: block;
	> img {
			max-width: 100%;
	}
}


/*----------------------------------------------------------------------------*\

	#Headline Styles

\*----------------------------------------------------------------------------*/

.headline-3 {
	@include font-size(36px);
}

.banner-text {
	text-align: center;
	color: $lincoln-red;
	font-weight: 600;
	@extend %cf;
	margin: .625em 0;
}

.intro-content {
	@include font-size(16px);
	color: $default-color;
}

/*----------------------------------------------------------------------------*\

	#Accordion Styles

\*----------------------------------------------------------------------------*/

.accordion-container {
	@include box-sizing(border-box);
}

/*----------------------------------------------------------------------------*\

	#Accordion Text

\*----------------------------------------------------------------------------*/

.accordion-text > p {
	@include font-size(16px);
	font-weight: 400;
}

/**
 * Accordion Footer
 */

 .accordion-footer {
 	@include font-size(16px);
 	color: $lincoln-red;
 	text-align: center;
	font-weight: 600;
	@extend %cf;
	margin-bottom: 1em;
 }

.accordion-header {
	background: #e7e8e9;


	.accordion-header-label {
		@include font-size(22px);
		vertical-align: middle;
		text-transform: uppercase;
		color: #be1e2d;
		padding: .3125em 0;
		padding-left: 1em;

	}
}

.accordion-toggle {
	display: block;
	@include font-size(22px);
	color: $lincoln-red;
	padding: .625em 0 .625em 1em;
	text-transform: uppercase;
	text-decoration: none;
	background: #e6e7e8;
	font-weight: 600;
}


.accordion-content {
	display: none;
	@extend %pos_relative;
	@extend %cf;

	// If we want to diplay one of the accordions as open by default - we can
	&.open {
		display: block;
	}
}

.accordion-container {
	@extend %pos_relative;
	@extend %cf;
}
.accordion-footer {
	text-align: center;
	color: $lincoln-red;
	font-weight: 600;
}

.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}

.automation {
	@include box-sizing(border-box);
	font-family: 'Titillium', Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
	color: $default-color;
}


.content > p,.text-content > p, .primary-content > p {
	@include font-size(16px);
}

.hero-container {
	margin-bottom: 2.5em;
}



